:root {
    --black-blue: #42567A;
    --lines-color: #E4E6E9;
    --iris-text: #5D5FEF;
    --fuschia-text: #EF5DA8;
    --blue-text:  #3877EE;
    --circle-button-b: #9299A8;
    --circle-button-bg: #F4F5F9;
    --bg-main-color: #F4F5F9;
    --button-hover-opacity: 0.6;
}