@use "../../utils/fonts/fonts.scss";
.history-section {
    position: relative;
    height: 1080px;
    margin: 0 160px 0 320px;
    border-left: 1px solid var(--lines-color);
    border-right: 1px solid var(--lines-color);

    &__gradient {
        display: block;
        max-height: 120px;
    }

    &__title {
        padding-top: 170px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 78px;
        width: 353px;
        color: var(--black-blue);
        @include fonts.PTSansBold(56px, 1.2);
    }
}
